<div class="page-header">
  <h1>@ViewBag.Title</h1>
</div>

<div>
    <p>
        This sample application accompanies the tutorial
        <a target="_blank" href="http://www.asp.net/web-api/overview/getting-started-with-aspnet-web-api/tutorial-your-first-web-api">
        Getting Started with ASP.NET Web API 2</a>.
        It provides an introduction to creating a Web API application that exposes data.
        See the code and the tutorial to learn about Web API. Unlike the tuturial, this sample uses SQL Server Compact.
    </p>
</div>
