@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This sample website accompanies the tutorial series 
    <a target="_blank" href="http://www.asp.net/mvc/overview/getting-started/introduction/getting-started">Getting Started with ASP.NET MVC 5</a>. See the code in this website
     and the tutorial to learn about ASP.NET MVC.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>
            Try the sample @Html.ActionLink("MVC Movie app", "Index", "Movies").
        </p>
    </div>
</div>