@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Movie Sample</h1>
    <p class="lead">This sample website accompanies the tutorial series 
    <a target="_blank" href="http://www.asp.net/mvc/overview/getting-started/introduction/getting-started">Getting Started with ASP.NET MVC 5</a>. See the code in this website
     and the tutorial to learn about ASP.NET MVC. This sample site differs from the tutorial by using SQL Server Compact.</p>
    <p><a href="/Movies" class="btn btn-primary btn-lg">Movies &raquo;</a></p>
</div>

