@{
    Layout = "~/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My Site's Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <p>This sample website accompanies the tutorial series 
            <a target="_new" href="http://www.asp.net/web-pages/overview/getting-started/introducing-aspnet-web-pages-2/getting-started">
            Introducing ASP.NET Web Pages</a>. It provides an overview of ASP.NET 
            Web Pages and Razor syntax. You can look at the code for this site and the tutorial series to learn about ASP.NET Web Pages.
        </p>
        <p>The links below show the finished work for each step in the tutorial:</p>
        <ul>
        <li><a href="HelloWorld.cshtml">HelloWorld</a></li>
        <li><a href="TestRazor.cshtml">TestRazor</a></li>
        <li><a href="TestRazorPart2.cshtml?show=true">TestRazorPart2</a></li>
        <li><a href="GravatarTest.cshtml">GravatarTest</a></li>
        <li><a href="Movies.cshtml">Movies without layout</a></li>
        <li><a href="MoviesWithLayout.cshtml">Movies with layout</a></li>
        </ul>
    </body>
</html>
